<h1>{{ heroe.nombre  | uppercase}} <small>({{ heroe.aparicion | date: 'y'}}  )</small> </h1>
<hr>

<div class="row animated fadeIn fast">


<div class="col-md-4">
  <img [src]="heroe.img" class="img-fluid">
  <br>
  <br>
  <a [routerLink]= "['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>

</div>

<div class="col-md-8">

<p> {{ heroe.bio }} </p>
<div class="col-md-4">
  <hr>
  <h3>{{ heroe.casa }}</h3>

  <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/Marvel.png" class="img-fluid">
  <img *ngIf="heroe.casa == 'DC'" src="assets/img/DC.png" class="img-fluid">
</div>
</div>
</div>
